<div class="auther">
    <h1 class="auther__heading">Hi, I am Gopendranath..</h1>
    <p class="auther__body"></p>
</div>

<img src="https://st2.depositphotos.com/1420973/6409/i/950/depositphotos_64095317-stock-photo-blog-concept-cloud-chart-print.jpg" alt="an image of blog" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %> 
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.createdAt.toDateString(); %></span>
          </a>
        </li>
        <% }) %>
    </ul>

    <% if (nextPage != null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

  </section>